<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DPKG Info</title>
</head>
<body>
<ul id="list">

</ul>

<script type="text/javascript">
const template = '<li><a href="/{{package}}">{{package}}</a></li>';

fetch('http://localhost:8080/packages').then(response => response.json()).then((packages) => {
  const listElement = document.getElementById('list');
  packages.forEach(package => {
    listElement.insertAdjacentHTML('beforeend', template.replace(/{{package}}/g, package));
  });
})
</script>
</body>
</html>
