<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>package</title>
</head>
<body>
<div id="name">

</div>

<div id="description">

</div>

<div id="dependencies">

</div>

<script type="text/javascript">
const nameElement = document.getElementById('name');
const descriptionElement = document.getElementById('description');
const dependenciesElement = document.getElementById('dependencies');

fetch(`http://localhost:8080/packages${window.location.pathname}`).then(response => response.json()).then(package => {
  nameElement.insertAdjacentHTML('beforeend', window.location.pathname);
  descriptionElement.insertAdjacentHTML('beforeend', package.description);
  dependenciesElement.insertAdjacentHTML('beforeend', package.dependencies);
})
</script>
</body>
</html>
